.login {
  display: flex;
  text-align: center;
  padding: 0;
  flex-direction: column;
  width: 56%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;

  padding: 4rem 2rem;
}
.login-title {
  font-size: 2rem;
}

.login > input {
  margin: 1rem 2rem;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem 0.5rem 0.2rem 0.2rem;

  border: none;
  border-bottom: 1px solid black;

  font-size: 1.6rem;
}

.login > input:focus {
  box-shadow: none;
  outline: none;
}

#login-btn {
  padding: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;

  background-color: aqua;
  cursor: pointer;
}

.signup-text {
  margin-top: 1rem;
  font-size: 1.3rem;
}

.signup-text > a {
  cursor: pointer;
  color: blue;
}

@media (max-width: 768px) {
  .login {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .login {
    width: 80%;
  }
}
